<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>Site Username</th>
        <th>Site URL</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Created At</th>
        <th>Notes</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${passwords}">
        <td th:text="${p.siteUsername}"></td>
        <td><a target="_blank" th:href="${p.siteUrl}" th:text="${p.siteUrl}"></a></td>
        <td th:text="${p.email}"></td>
        <td th:text="${p.phoneNumber}"></td>
        <td th:text="${p.createdAt}"></td>
        <td th:text="${p.notes}"></td>
        <td th:class="|psw${p.id}|">********</td>
        <td>
            <button th:onclick="|revealPassword(${p.id})|">reveal Password</button>
            <button th:onclick="|editPassword(${p.id})|" type="button">Edit</button>
            <button th:onclick="|deletePassword(${p.id})|" type="button">Delete</button>
        </td>
    </tr>
    </tbody>
</table>