html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container a:hover {
    color: #1c2f2f;
}
.disabled-style {
    color: black;
    background-color: #c5c1c1;
}

.container a {
    color: #2f4f4f;
    text-decoration: none;
    font-weight: bold;
}

.container {
    background-color: rgba(170, 164, 115, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    justify-content: center;
    border-radius: 15px;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

form input {
    width: 90%;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;


}


form label {
    width: 100%;
}

form button {
    border-radius: 7px;
    padding: 3% 5%;
    background-color: #2f4f4f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;

}