<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <div th:if="${param.error}">
        <p style="color:red;">Invalid username or password</p>
    </div>

    <div th:if="${param.logout}">
        <p style="color:green;">You have been logged out</p>
    </div>
    <div th:if="${param.accountDeleted}">
        <p style="color:green;">Your account has been deleted successfully</p>
    </div>
    <div th:if="${param.sessionExpired}">
        <p style="color:green;">Your session has expired. Please log in again to continue. </p>
    </div>

    <form method="post" th:action="@{/auth/login}">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" required type="text"/>
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" name="password" required type="password"/>
        </div>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a th:href="@{/auth/signup}">Sign up here</a></p>
</div>
</body>
</html>
