<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Passwords</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/passwordList.css}">
    <link rel="stylesheet" th:href="@{/css/access-unlock.css}">
    <link rel="stylesheet" th:href="@{/css/password-table.css}">
    <meta name="_csrf" th:content="${_csrf?.token}">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/access-unlock :: #verificationOverlay}"></div>
<div th:switch="${not #lists.isEmpty(passwords)}">
    <div th:case="true">
        <table th:replace="~{fragments/password-table :: table}"></table>
    </div>

    <div th:case="false">
        <p th:text="${message}">No passwords saved yet.</p>
    </div>
</div>
<script th:src="@{/js/password-list.js}"></script>
<script th:src="@{/js/access-unlock.js}"></script>
</body>
</html>
