<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Passwords</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/searchPassword.css}">
    <link rel="stylesheet" th:href="@{/css/password-table.css}">
    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
<h1>🔍 Search Saved Passwords</h1>

<form th:action="@{/password/search-password}" method="get">
    <label for="keyword">Enter keyword:</label>
    <input type="text" id="keyword" name="keyword" placeholder="Search by site, email, or notes" required>
    <button type="submit">Search</button>
</form>

<hr>

<div th:if="${not #lists.isEmpty(passwords)}">
    <h2>Searched Passwords:</h2>
    <table th:replace="~{fragments/password-table::table}"></table>
</div>
</div>

<div th:if="${#lists.isEmpty(passwords)}" th:text="${message}"></div>

<script th:src="@{/js/password-list.js}"></script>
</body>
</html>
